body{
    padding: 60px 0px 0px 0px;
    z-index: 0;
}

.white-text{
    color: white !important;
}

.footer {
    background-color: #dddddd;
    margin: 0px auto;
    padding: 20px 0px; 
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f; 
}